<footer class="text-muted py-5 footer mt-auto bg-white">
    <div class="{{ containerClass|default('container') }} {{ containerMargin|default('') }}">
        <p class="float-end mb-1">
            <a href="#" class="text-dark">{{ 'page.general.backToTop'|trans }}</a>
        </p>
        <p class="mb-1">{{ 'page.general.info'|trans({'%class%': 'text-dark'})|raw }}</p>
    </div>
</footer>
