{% extends 'base.html.twig' %}

{% block title %}{{ calendar.name }}{% endblock %}

{% block body %}
    {% apply spaceless %}
        <div class="images">
            {% for calendarImage in calendar.calendarImages %}
                <a href="{{ path_encoded('app_calendar_detail', {'hash': calendarImage.user.idHash, 'userId': calendarImage.user.id, 'calendarImageId': calendarImage.id}) }}">
                    <div class="image" style="background-image:url({{ calendarImage.pathTargetRelative|add_hash|url_absolute }});"></div>
                </a>
            {% endfor %}
        </div>
    {% endapply %}
{% endblock %}
