[submodule "submodules/bash-version-manager"]
	path = submodules/bash-version-manager
	url = git@github.com:ixnode/bash-version-manager.git
        branch = main

[submodule "submodules/table-dumper"]
	path = submodules/table-dumper
	url = git@github.com:bjoern-hempel/table-dumper.git
