parameters:
  level: max
  paths:
    - src
    - tests
  # https://github.com/phpstan/phpstan-doctrine
  #doctrine:
  #  objectManagerLoader: tests/object-manager.php
  excludePaths:
    - tests/tmp/*
    - tests/*/Example*.php
    - tests/*/console_application_loader.php
    - tests/*/data/*