{% extends 'base.html.twig' %}

{% block title %}TwelvePics / Impressum{% endblock %}

{% block body_class %}content content-impress bg-light{% endblock %}

{% block body %}
    {% apply spaceless %}

        {% include 'content/header.html.twig' with {
            'title': 'Impressum',
        } %}

        {% embed 'main_layout_without_header.html.twig' %}
            {% block main_content %}
                <div id="content-impress">
                    <h1>Impressum</h1>
                    <address>
                        <strong>Björn Hempel</strong><br>
                        Königstr. 3<br>
                        Dresden 01097<br>
                        <abbr title="Phone">Telefon:</abbr>  +49 (1517) 00 70 70 6
                    </address>
                </div>
            {% endblock %}
        {% endembed %}

        {% include 'content/footer.html.twig' with {

        } %}
    {% endapply %}
{% endblock %}
