/**
 * Import bootstrap
 */
@import "~bootstrap/scss/bootstrap"

/**
 * Calendar index page
 */
html, body
    margin: 0px
    padding: 0px
    width: 100%

/**
 * Calendar index page
 */
body.calendar-index
    background-color: #fff

    /* Decrease padding left and right from used px-5 on mobile devices */
    @include media-breakpoint-between(xs, md)
        header
            .container-fluid.px-5
                padding-left: .75rem!important
                padding-right: .75rem!important
        footer
            .container-fluid.px-5
                padding-left: .75rem!important
                padding-right: .75rem!important

    /* Show the calendar among each other */
    .container-images
        a.container-image-link
            .container-image
                width: 100%
                height: 75vw
                background-size: 100% 100%
                float: left

    /* Show tablet style */
    @include media-breakpoint-up(md)
        .container-images
            a.container-image-link
                .container-image
                    width: 50%
                    height: 37.5vw

    /* Show nice calendar style on larger devices */
    @include media-breakpoint-up(lg)
        .container-images
            a.container-image-link
                .container-image
                    width: 25%
                    height: 18.75vw
                &:first-child
                    .container-image
                        width: 50%
                        height: 37.5vw

/**
 * Calendar detail page
 */
body.calendar-detail
    background-color: #fff
