/* Variables */
$breakpoint-mobile: 540px
$breakpoint-tablet: 1024px

html, body
    margin: 0px
    padding: 0px
    width: 100%

body.calendar-index
    background-color: #202020

.images
    a
        .image
            width: 25%
            height: 18.75vw
            background-size: 100% 100%
            float: left

        &:first-child
            .image
                width: 50%
                height: 37.5vw

.content
    width: $breakpoint-tablet
    margin: auto

    p
        img
            width: 100%


/* For Mobile */
@media (max-width: $breakpoint-mobile)
    .images
        a
            .image
                width: 100%
                height: 75vw

            &:first-child
                .image
                    width: 100%
                    height: 75vw

    .content
        width: 100%

/* For Tablets */
@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet)
    .images
        a
            .image
                width: 100%
                height: 75vw

            &:first-child
                .image
                    width: 100%
                    height: 75vw

    .content
        width: 100%
