<main class="bg-light">
    <div class="bg-transparent">
        <div class="container">
            <div class="content-main">
                {% block main_content %}

                {% endblock %}
            </div>
        </div>
    </div>
</main>
