{% extends 'base.html.twig' %}

{% block title %}{{ 'TwelvePics / Location' }}{% endblock %}

{% block body_class %}content content-location bg-light{% endblock %}

{% block body %}
    {% apply spaceless %}

        {% include 'content/header.html.twig' with {
            'title': 'Suche nach Standort (Search Template)',
        } %}

        {% embed 'main_layout_without_header.html.twig' %}
            {% block main_content %}
                <div id="content-location">

                    {% include 'content/location/elements/searchForm.html.twig' with {
                        'searchConfig': searchConfig,
                    } %}

                    {% include 'content/location/elements/searchExamples.html.twig' %}

                    {% include 'content/location/elements/legal.html.twig' with {
                        'version': version,
                        'time': time
                    } %}
                </div>
            {% endblock %}
        {% endembed %}

        {% include 'content/footer.html.twig' %}
    {% endapply %}
{% endblock %}
