<p class="legal">
    Alle Daten werden bereitgestellt von: <a href="https://www.geonames.org/" target="_blank">GeoNames</a>. Benutzerdefinierte Daten und Übersetzungen von <a href="https://twelvepics.com">twelvepics.com</a>. Version {{ version }} - {{ '%.3fs'|format(time) }}
</p>
